.testimonial_card {
  width: 50%;
  height: 300px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* } */
/* .test_card_adjustment {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
