.testimonial_card {
  width: 40%;
  height: 300px;
  /* background-color: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
/* } */
.slick-slider {
  background-color: white;
  width: calc(100% - 50px);
  padding: 25px;
}
.slick-slider .image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slider .image img {
  width: 60px;
  height: 60px;
}
.slick-prev,
.slick-next,
.slick-prev::before,
.slick-next::before,
.slick-prev:hover,
.slick-next:hover {
  color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 50px;
}
