.Ecard {
  width: 250px;
  margin: 30px;
  height: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 20px;
  padding-top: 70px;
  transform-style: preserve-3d;
  perspective: 1000px;
  text-align: center;
}

.Ecard::before {
  content: " ";
  z-index: 5;
  height: 180px;
  position: absolute;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  width: 1000px;
  top: -120px;
  left: -210px;
}

.Ecard__1::before {
  background: var(--primary);
}

.Ecard::after {
  content: " ";
  right: 0;
  left: 0;
  top: 0;
  z-index: 5;
  height: 120px;
  position: absolute;
  -webkit-transform: rotate(106deg);
  -ms-transform: rotate(106deg);
  transform: rotate(106deg);
  width: 1000px;
  top: -210px;
  left: -470px;
  opacity: 0.5;
}

.pricing__name {
  text-transform: uppercase;
  font-size: 16px;
  position: absolute;
  z-index: 6;
  color: var(--txtWhite);
  text-align: center;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 200;
}

.pricing__name__1 {
  color: White;
}
.edEcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 45px;
}

@media screen and (max-width: 400px) {
  .Ecard {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .Ecard::before {
    width: 500px;
  }
}
